<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erosion Index</title>
</head>
<body>
<h2>Elevation model input file</h2><br/>
{% block content %}
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    R  <input type="file" name="rasterR" required/><br/>
    <input type="hidden" name="R" value="R">
    K  <input type="file" name="rasterK" required/><br/>
    <input type="hidden" name="K" value="K">
    LS  <input type="file" name="rasterLS"/><br/>
    C  <input type="file" name="rasterC"/><br/>
    P  <input type="file" name="rasterP"/><br/>
    Project Name:<input type="text" name="project" required/><br/>
    <input type="submit" value="Submit Raster File"/>
</form>
{% endblock %}
</body>
</html>